html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-content {
    flex: 1;
}

input[readonly] {
    background-color: #f2f2f248;
    /* nền xám nhạt */
    color: #555;
    /* chữ xám đậm hơn */
    font-style: italic;
    /* chữ nghiêng để nhấn mạnh */
    border: 1px solid #ccc;
    /* viền nhẹ */
}